  @font-face{
    font-family: "Sugar Bomb";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/SugarBomb.ttf);
 }

*{
    margin: 0;
    box-sizing: border-box;
}

#home, #jugadores, #characters {
  background-image: url(../assets/images/fondo1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

#app, #characters, #jugadores{
  display: none;
}

#app .cronometro{
  position: absolute;
  left: 50%;
  right: 50%;
  text-align: justify;
  display: inline-flex;
  align-items: row;
  padding: 0.1%;
color: rgb(255, 62, 88);
  font-size: 350%;
  box-sizing: border-box;
}

.isla{
  background-image: url(../assets/images/isla.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

.atras{
  width:5vw;
  height:10vh;
  margin-left: 1%;
  margin-top: 1%;
}

#fila32{
  margin-top: 5%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.contenedor{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:80vw;
  height:40vh;
}

.miTabla{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-items: center;
}

.tablaPer{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-items:center;
  background-image: url("../assets/images/tabla.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15vw;
  height: 40vh;
}

.nombre{
  font-family: "Sugar Bomb";
  font-size: 200%;
  margin-top: 16%;
}

.personaje{
  margin-top: 2%;
  width: 55%;
  height: 55%;
}

#fila24{
  margin-left: 38.5%;
  width: 16%;
  height: 8%;
  margin-left: 42%;
  margin-right: 42%;
}

#fila34{
  margin-left: 38.5%;
  width: 22%;
  height: 8%;
  margin-left: 39%;
  margin-right: 39%;
}

.btn_aceptar{
  background-image: url("../assets/images/btn_base.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.btn_seleccionar{
  background-image: url("../assets/images/btn_base.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.txtAceptar{
  font-family:"Sugar Bomb";
  font-size:200%;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 2%;
}

.txtSeleccionar{
  font-family:"Sugar Bomb";
  font-size:200%;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 2%;
}

#fila23{
  margin-left: 25%;
}

#fila22{
  background-image: url("../assets/images/tabla2.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  width: 46%;
  height: 40%;
  margin-left: 27%;
  margin-right: 27%;
}

.txtCantidad{
  font-family:"Sugar Bomb";
  font-size:200%;
  text-align:center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 5%;
}

#cantidad{
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 25%;
}

#fila11, #fila12, #fila13{
  z-index: 1;
}

.titulo{
    width:50vw;
    height:30vh; 
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn_play{
    width:16vw;
    height:25vh;
    margin-left: 42%;
    margin-right: 42%;
}

.txtSeleccionar:hover, .btn_seleccionar:hover, .txtAceptar:hover, .avanzar:hover, .devolverse:hover, .btn_aceptar:hover, .atras:hover, .btn_play:hover{
  cursor: pointer;
}

.tabla{
  z-index: 1;
  width:50vw;
  height:50vh;
}

.fila21, .fila22, .fila23, .fila24{
  z-index: 2;
}

.avanzar, .devolverse{
  width:10vw;
  height:20vh;
}

.jugador{
  display:none;
  font-family:"Sugar Bomb";
  font-size:200%;
  text-align:center;
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 2%;
  margin-bottom: 2%;
}